body{
    font-family: Arial;
    background:#f3eefc;
    padding:20px;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.coffeegrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    max-width:900px;
    margin:auto;
}

.coffee{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.15);
}

.coffee h3{
    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
    font-size:16px;
}

.coffee span{
    color:#d4a017;
    font-weight:bold;
}

.coffee p{
    font-size:13px;
    color:#555;
}
